<!DOCTYPE html>
<html>
<head>
<title>Bands</title>
<style>
table, th, td { border: 1px solid black; text-align: left; }
</style>
</head>
<body>
<h1>Bands</h1>
<button onclick="window.location.href='/'">Home</button>
<table>
{% for band in my_bands %}
<tr><td><a href="/edit/{{band}}">{{band}}</a></td><td><a href="/delete/{{band}}">Delete</a></td></tr>
{% endfor %}
{% for band in public_bands %}
<tr><td><a href="/view/public/{{band}}">{{band}}</a></td><td>Public Band</td></tr>
{% endfor %}
</table>
</form>
</body>
</html>

