<!DOCTYPE html>
<html>
  <head>
    <title>Warband Editor</title>
    <style>
      table, th, td { border: 1px solid black; text-align: left; }
    </style>
    <script>{% include 'blankband.js' %}</script>
  </head>
  <body>

    <h1>Warband</h1>
    <h2>Warband Name:<input type="text" id="bandnametext" name="bandnametext"></h2>
    <h3>User: {{band.user}}</h3> 
    Public<input type="checkbox" id="public" name="public">


    <table border="0">
      <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>{{band.money}}</td>
      </tr>
    </table>
    <table id="wizardTable">
      <tr>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
      </tr>
      <tr>

        <td>{{band.captain['Move']}}</td>
        <td>{{band.captain['Fight']}}</td>
        <td>{{band.captain['Shoot']}}</td>
        <td>{{band.captain['Shield']}}</td>
        <td>{{band.captain['Morale']}}</td>
        <td>{{band.captain['Health']}}</td>

        <td><select id="capspecsel" name="capspecsel" onchange="setCapSkillchoice(this)">
            <option value="Empty">Select...</option>
            {% for spec in band.specialisms %}

            <option value="{{ spec }}">{{ spec }}</option>
            {% endfor %}
        </select></td>
        <td>
          <select id="capweapsel" name="capweapsel">
            <option value="Empty">Select...</option>
            {% for weap in band.weapon %}

            <option value="{{ weap }}">{{ weap }}</option>
            {% endfor %}
          </select>
        </td>
        <td></td>
      </tr>

    </table>
    Hire Ensign? <input type="checkbox" name="appHire" onClick="hireEng()">250gc<br>
    <div id="ensignDiv" style='display: none'>
      <table id="ensignTable">
        <tr>
          <td>Move</td>
          <td>Fight</td>
          <td>Shoot</td>
          <td>Shield</td>
          <td>Morale</td>
          <td>Health</td>
          <td>Specialism</td>
          <td>Weapons and Equipment</td>
          <td>Skills</td>
        </tr>
        <tr>
          <td>{{band.ensign['Move']}}</td>
          <td>{{band.ensign['Fight']}}</td>
          <td>{{band.ensign['Shoot']}}</td>
          <td>{{band.ensign['Shield']}}</td>
          <td>{{band.ensign['Morale']}}</td>
          <td>{{band.ensign['Health']}}</td>
          <td>
            <select id="ensskillsel" onchange="setEnsSkillchoice(this)">
              <option value="Empty">Select...</option>
              {% for spec in band.specialisms %}

              <option value="{{ spec }}">{{ spec }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <select id="ensweapsel">
              <option value="Empty">Select...</option>
              {% for weap in band.weapon %}

              <option value="{{ weap }}">{{ weap }}</option>
              {% endfor %}
            </select>
          </td>
          <td></td>
        </tr>

      </table>
    </div>
    <table id='rosterTable'>
      <tr>
        <td>Class</td>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Cost</td>
        <td>Notes</td>
      </tr>
      {% for i in range(1, 11) %}
      <tr>
        <td>
          <select id="troop{{i}}" onchange="updateTableRow({{ i }}, this)">
            <option value="Empty">Empty</option>
            {% for troop in band.memberDefs.keys() %}
            <option value="{{ troop }}">{{ troop }}</option>
            {% endfor %}
          </select>
        </td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>0</td>
        <td>-</td>
      </tr>
      {% endfor %}
    </table>
    <input id="creator" type="button" value="Create Warband" onclick="doFormSubmit();" />
    <input id="clear" type="button" value="Reset" onclick="window.location.href='/new'" />
     <button onclick="window.location.href='/'">Home</button>
  </body>
</html>

