{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form action="/account" method="POST">
  <div class="account">

    <div class=app-title">
      <h1>WARBAND MANAGER</h1>
    </div>
    <div class="account-screen">
        <h1>Create Account</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class="account-form">
        <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="Username" name="username">
        </div>
        <div class="control-group">
        <input type="email" class="login-field" value="" placeholder="email@example.com" name="email">
        </div>
        <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Password" name="password">
        </div>
        <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="Repeat password" name="repeat-password">
        </div>
        
        <input type="submit" value="Create Account" class="btn btn-primary btn-large btn-block">
        <button type="button" onclick="window.location.href='/'">Home</button>
        <br>
      </div>
    </div>
  </div>
</form>
{% endif %}
{% endblock %}
