{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
<form action="/login" method="POST">
  <div class="login">

      <h1>WARBAND MANAGER</h1>
    <div class="login-screen">
        <h1>Login</h1>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <div class="login-form">
         <div>
        <input type="text" value="" placeholder="Username" name="username">
        </div>
     <div>
        <input type="password"  value="" placeholder="Password" name="password">
      </div>
        
        <input type="submit" value="Log in">
        <br>
      </div>
    </div>
  </div>
</form>
<a href="{{url_for('create_account')}}"><button >Create New Account</button></a>
{% endif %}
{% endblock %}
