<!DOCTYPE html>
<html>
  <head>
    <title>Ship Crew Editor</title>
    <style>
      table, th, td { border: 1px solid black; text-align: left; }
    </style>
  </head>
  <body>

    <h1>Warband</h1>
    <h2>Warband Name: {{band.name}}</h2>
    <h3>User: {{band.user}}</h3> 
    {% if band.public %}
    Public<input type="checkbox" id="public" name="public" disabled checked>
    {% else %}
    Public<input type="checkbox" id="public" name="public" disabled>
    {% endif %}
    <table border="0">
      <tr>
        <td><h3>Currency remaining: </h3></td>
        <td id='remainingGold'>{{band.money}}</td>
      </tr>
    </table>
    Captain:
    <table id="captainTable">
      <tr>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Specialism</td>
        <td>Weapons and Equipment</td>
        <td>Skills</td>
        <td>Experience</td>
      </tr>
      <tr>

        <td>{{band.captain['Move']}}</td>
        <td>{{band.captain['Fight']}}</td>
        <td>{{band.captain['Shoot']}}</td>
        <td>{{band.captain['Shield']}}</td>
        <td>{{band.captain['Morale']}}</td>
        <td>{{band.captain['Health']}}</td>

        <td>{{band.captain['Specialism']}}</td>
        <td>{{band.captain['Items'][0]}}</td>
        <td>
          {% for item in band.captain['Skillset'] %}
            {{item}}, 
          {% endfor %}
        </td>
        <td>{{band.captain['Experience']}}</td>
      </tr>

    </table>
    {% if band.hasEnsign %}
    <div id="ensignDiv" style='display: block'>
    {% else %}
    <div id="ensignDiv" style='display: none'>
    {% endif %}
    Ensign:
      <table id="ensignTable">
        <tr>
          <td>Move</td>
          <td>Fight</td>
          <td>Shoot</td>
          <td>Shield</td>
          <td>Morale</td>
          <td>Health</td>
          <td>Specialism</td>
          <td>Weapons and Equipment</td>
          <td>Skills</td>
          <td>Experience</td>
        </tr>
        <tr>
          <td>{{band.ensign['Move']}}</td>
          <td>{{band.ensign['Fight']}}</td>
          <td>{{band.ensign['Shoot']}}</td>
          <td>{{band.ensign['Shield']}}</td>
          <td>{{band.ensign['Morale']}}</td>
          <td>{{band.ensign['Health']}}</td>
          <td>{{band.ensign['Specialism']}}</td>
          <td>{{band.ensign['Items'][0]}}</td>
          <td>
            {% for item in band.ensign['Skillset'] %}
            {{item}},  
            {% endfor %}
          </td>
        <td>{{band.ensign['Experience']}}</td>
        </tr>
      </table>
    </div>

    <table id='rosterTable'>
      <tr>
        <td>Class</td>
        <td>Move</td>
        <td>Fight</td>
        <td>Shoot</td>
        <td>Shield</td>
        <td>Morale</td>
        <td>Health</td>
        <td>Cost</td>
        <td>Notes</td>
      </tr>
      {% for i in range(0, band.members | length) %}
      <tr>
        <td>{{band.members[i]}}</td>
        <td>{{band.memberDefs[band.members[i]]['Move']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Fight']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Shoot']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Shield']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Morale']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Health']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Cost']}}</td>
        <td>{{band.memberDefs[band.members[i]]['Notes']}}</td>
      </tr>
      {% endfor %}
    </table>
    <button onclick="window.location.href='/edit'">Back</button>
  </body>
</html>
